.DS_Store
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
venv/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
/.quarto/
# >>> BEGIN SCSS compiled files <<<
_assets/docfuse/labml-light.css
_assets/docfuse/labml-dark.css
_assets/docfuse/main.css
_assets/docfuse/pytorch.css
_assets/fonts/lemonmilk/stylesheet.css
_assets/404/style.css
_assets/gman/index.css
about/reset.css
about/timeline.css
blog/2025-10-17-gbt-algorithms/style.css
blog/2024-06-15-lstm-from-scratch/style.css
blog/2024-08-11-gbt-custom-loss/style.css
project/2017-09-17-d3-force-graph-bio-networks/css-js/styles.css
# >>> END SCSS compiled files <<<